<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body background="../static/sed.png" style="background-size: cover;background-color: blanchedalmond" th:background="@{/sed.png}">

<!--hello-->
<!--<form action="/user/register" method="post">-->

    <!--<input messageType="number" value="123124" name="num1"/>-->
    <!--<input messageType="number" value="123124" name="num2"/>-->
    <!--<input messageType="text" value="123dasd" name="text2"/>-->

    <!--<input messageType="submit" value="Click"/>-->

<!--</form>-->
</body>
</html>