<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登陆</title>

    <link href="../../static/css/loginPage.css" rel="stylesheet" type="text/css"
          th:href="@{/css/loginPage.css}"/>


    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="../../static/js/main.js" th:src="@{js/main.js}"></script>
    <script src="../../static/js/signin.js"
            th:src="@{/js/signin.js}"></script>

</head>

<body>

<!--加载图标-->
<div id="load" class="load">
    <img id="loadGif" th:src="@{/picture/loading.gif}"/>
</div>
<div id="header" th:replace="fragments/header :: header"></div>


<div tiles:fragment="content"
     style="background-size: cover;background-image: url('/picture/sed.png');background-color:#fdf5db;height:100%">
    <form class="login myInput" method="post">
        <div class="name">
            <input type='text' name='uid' placeholder="请输入账号"/>
            <div class="icon-after-user"></div>
        </div>
        <div class="password">
            <input type='password' name='password' placeholder="请输入密码"/>
            <div class="icon-after-lock"></div>
        </div>
        <input id="loginButton" type="button" name="submit" value="登陆"/>
    </form>
</div>


<div id="footer" th:replace="fragments/footer :: footer"></div>


</body>
</html>